*{margin:0;padding:0;}
li{list-style:none outside none;}


.box{width:9999px;margin:0 auto 20px;height:9999px;}
p{font-size:20px;color:#333;text-align:center;margin:0 0 20px;}
.box.box-1{height:200px}.box-1 dl{top:25px;}
.box.box-2{height:500px}.box-2 dl{left:50%;margin-left:-75px;}
i.hander{display:block;width:100%;height:25px;background:#ccc;text-align:center;font-size:12px;color:#333;line-height:25px;font-style:normal;}